<h2>Рекомендуемые продукты</h2>
<div>

    <div style="color:green">@this.TempData["SuccessMessage"]</div>

    Чтобы скорректировать инвентарь, перейдите <a asp-controller="Inventory" asp-action="Index">здесь</a>.

</div>